:root {
  --primary-color: rgb(255, 166, 0);
  --background: rgb(28, 28, 28);
}

*,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  background-color: var(--background) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
}

img {
  object-fit: cover;
}

/* ======= HERO =====*/

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assests/jahanzeb-ahsan-92d7YWRBu3w-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(60%);
}

.hero-text {
  position: absolute;
  color: white;
  background-color: rgba(33, 33, 33, 0.1);
  width: 50%;
  border-radius: 5px;
  padding: 30px 50px;
  backdrop-filter: blur(20px);
}

.hero-text h1 {
  font-size: 2rem;
  animation: slide-in 1s ease-out forwards;
}

.hero-text h3 {
  font-size: 1.4rem;
  animation: slide-in 1.5s ease-out forwards;
  padding: 30px 0;
}

.hero-text p {
  margin: 0 auto;
  font-size: 1.2rem;
}

#dynamic-text {
  border-right: 2px solid var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: var(--primary-color);
  letter-spacing: 2px;
}

#dynamic-text i {
  color: var(--primary-color);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

#dynamic-text {
  animation: typing 3s steps(50, end), blinking 0.6s step-end infinite;
}

/* ======= HEADER =====*/

header {
  position: fixed !important;
  top: 0 !important;
  width: 100vw !important;
  height: 70px !important;
  line-height: 70px !important;
  z-index: 3 !important;
}
.nav-bar {
  display: flex !important;
  justify-content: space-around !important;
  background: rgba(147, 147, 147, 0.3);
  backdrop-filter: blur(25px) !important;
}
.nav-bar ul {
  display: flex;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

.nav-bar ul li {
  list-style: none;
  padding: 3px 15px;
}

.nav-bar ul li a:hover,
.active {
  color: rgb(255, 166, 0) !important;
  border-bottom: 1px solid rgb(255, 166, 0);
}

.nav-bar ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
}

/* ======= TASKS =====*/

.tasks {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 50px;
}
.tasks h2 {
  color: var(--primary-color);
  padding: 20px 0;
  font-size: 1.7rem;
}
.tasks svg {
  height: 60px;
  width: 60px;
  fill: var(--primary-color);
}

.tasks p {
  color: rgb(150, 150, 150);
  padding: 0 30px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

/* ======= DESTINATION =====*/
.trending {
  padding: 90px 40px;
  text-align: center;
}
.trending h2 {
  color: rgb(255, 166, 0);
  text-align: center;
  font-size: 1.7rem;
}
.trending .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  row-gap: 3rem;
  place-items: center;
  color: white;
  padding: 50px 0;
}

.trending .cards div {
  height: 530px;
  width: 400px;
  border-radius: 20px;

  box-shadow: inset 0 10px 40px rgba(219, 219, 219, 0.507);
}

.trending .cards p {
  text-align: left;
}
.trending > a,
.dest-explore {
  text-decoration: none;

  text-align: center;
  background-color: var(--primary-color);
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s ease;
}

.trending > a:hover {
  background-color: rgb(192, 124, 0);
}

.cards div img {
  height: 250px;
  width: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cards div h3 {
  color: rgb(255, 166, 0);
  padding: 10px 30px;
  font-size: 1.4rem;
}

.cards div p {
  padding: 10px 30px;
}

.rewards .hero {
  position: relative;
  width: 100vw;
  height: 400px;
  padding-top: 450px;

  text-align: left;
}

.rewards .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-image: url("./assests/priscilla-du-preez-EFoH8YajQuA-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(40%);
}

.hero-content {
  position: relative;
  color: white;
  top: -200px;
  padding: 0 40px;
  text-align: center;
}

.hero-content p {
  width: 80%;
  line-height: 2;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 30px 0;
}

.hero-content h2 {
  font-size: 1.7rem;
  color: rgb(255, 166, 0);
  padding: 20px 0;
}

.hero-content button {
  text-decoration: none;
  color: black;
  background-color: rgb(255, 166, 0);
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
}

.hero-content button:hover {
  background-color: rgb(192, 124, 0);
}

/* ========= FOOTER ======*/

footer img {
  height: 300px;
  width: 300px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

footer h2 {
  color: rgb(255, 166, 0);
}
footer ul {
  list-style-type: none;
}

footer ul li {
  padding: 5px 0;
  color: rgb(150, 150, 150);
}
footer ul a {
  color: rgb(150, 150, 150);
  text-decoration: none;
  transition: 0.3s ease;
}

footer ul a:hover {
  color: rgb(76, 76, 76);
}
footer ul i {
  color: rgb(255, 166, 0);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;

  width: 90%;
  text-align: center;
  margin: auto;
}
.modal-content {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.modal-content h2 {
  color: rgb(255, 166, 0);
}
/* Close button */
.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
}

/* Optional form styling */

form label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 166, 0);
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background-color: rgb(192, 124, 0);
}

.carousel {
  width: 80%;
  height: 600px;
  margin: 10% auto 0;
}

.carousel-item {
  position: relative;
}
.carousel-inner img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.carousel-inner h5 {
  color: var(--primary-color);
  font-size: 2rem;
  padding: 20px 0;
}
.carousel-inner p {
  font-size: 1.2rem;
  padding: 0 0 10px 0;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity here */
  z-index: 1;
}

.carousel-caption {
  position: relative;
  z-index: 2;
  margin-bottom: 1.5rem !important;
}

.experience {
  padding: 50px 100px;
}

.experience h2 {
  color: var(--primary-color);
}

.experience h4 {
  color: var(--primary-color);
  padding: 10px 0;
}
.experience-content {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  padding: 30px 0;
}
.experience-content img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.exp-content{
  background-color: rgba(147, 147, 147, 0.3);
  border-radius: 5px;
  padding: 0 10px 5px;
  margin-top: 5px;
}
.experience-card blockquote {
  color: rgb(150, 150, 150);
  width: 80%;
}

.experience-card span {
  color: rgb(150, 150, 150);
}
.rating {
  display: flex;

  align-items: center;

  font-size: 1rem;
  cursor: pointer;
}

.rating .fa-star {
  color: #ccc; /* Default star color */
  transition: color 0.3s ease;
  text-decoration: none;
}
.rating .fa-star:hover {
  color: var(--primary-color);
}
.rating .fa-star.active-star {
  color: #f39c12; /* Highlight color for selected stars */
}


.guide{
  background-color: white;
  padding: 30px 100px;
}

.guide h2{
  color: var(--primary-color);
}

.guide p{
  color: rgb(150, 150, 150);
}

.guide-cards{
  display: flex;
  justify-content: space-around;
}

.guide img{
  width: 400px;
  height: 250px;
border-radius: 10px;
transition: .3s ease;
}

.guide img:hover{
  filter: brightness(70%);
  cursor: pointer;

}
.guide figcaption{
  text-align: center;
  padding: 5px 0;
}

.guide-content{
  text-align: center;
}

.explore{
  padding: 70px 50px;
}

.explore-cards{
  display: flex;
  justify-content: space-between;
}

.explore-cards img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.explore-card{
  display: flex;
  justify-content: center;
  align-items: center;
cursor: pointer;
}
.explore-card a{
color: rgb(150, 150, 150);
text-decoration: none;
padding: 10px;

}

.explore-card:hover a{
text-decoration: underline;
}
.explore-card img {
  transition: filter 0.3s ease;
}

.explore-card:hover img{
  filter: brightness(70%);
}

.accordion{
  padding:100px;
  background-color: white;
}

.accordion > h2{
  color: var(--primary-color);
}

.accordion-button{
  background-color: rgb(179, 179, 179) !important;
  color: rgb(0, 0, 0) !important;
}

.accordion-button:focus{
  outline: none !important;

}


.accordion-button:not(.collapsed){
  background-color: transparent !important;
}

footer ul{
  margin: 0;
  padding: 0;
}
